<!DOCTYPE html>
<html lang="en" ng-app="rapp">
<head>
	<title>Homepage</title>
	<meta charset = "utf-8">	
	<meta name="viewport" content="width=device-width ,initial-scale=1">

	<link rel="stylesheet" href="static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<!<link rel="stylesheet" type="text/css" href="/static/css/Homepage.css">
</head>
<body style="background-image:url(static/css/img/5.jpeg)">
	<nav class= "navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">vipul</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="login">Home</a></li>
				<li><a href="create">Create Account</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</div>
	</nav>
	
	<div ng-controller="rcontroller">
		
		<div class="row">
			<div class="col-md-12">
			</br></br></br>

			</div>
			<div class="row">
			<div class="col-md-12">
			</br></br></br>

			</div>
		</div>
		<div class="row">
		
			<div class="col-md-4"></div>
			<div class="col-md-4" class="panel panel-success" style="background: rgba(0,0,0,0.1)">
			<div class="panel-body" style="height:250px">
				<form  role="form" >
					<div class="form-group">
						<label for="text" >Email:</label>
						<input type="text" name="user_name" class="form-control" id="email" placeholder="Enter Email" ng-model="name">
					</div>
					<div class="form-group">
						<label for "password">Password:</label>
						<input type="password" name="password"  class="form-control" id="password" placeholder="Password" ng-model="password"><br>
					</div>
					<button type="button" style = "width:400px;" class="btn btn-primary" ng-click="rfunction()">
     					 <span class="glyphicon glyphicon-log-in"></span> login
    			    </button>
    			    <span><a href="reset_password.html">Forgot Password</a></span>
				</form>
			</div>
			</div>
		</div>
	</div>
<footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>
 
<script type="text/javascript" src="static/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/lib/angular.js"></script>
<script type="text/javascript" src="static/js/response.js"></script>
</body>
</html>