<!DOCTYPE html>
<html lang="en" ng-app="rapp">
<head>
	<title>Homepage</title>
	<meta charset = "utf-8">	
	<meta name="viewport" content="width=device-width ,initial-scale=1">

	<link rel="stylesheet" href="static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Homepage.css"> 
</head>
<body style="background-image:url(static/css/img/tt6.jpg); background-size:100% 100%;">
	<nav class= "navbar  navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand"><h4>vipul</h4></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="login"><h4>Home</h4></a></li>
				<li><a href="create"><h4>Create Account</h4></a></li>
				<li><a href="#"><h4>Help</h4></a></li>
				<li><a href="about_us"><h4>About us</h4></a></li>
			</ul>
		</div>
	</nav>
	
	<div ng-controller="rcontroller">
		
		<div class="row">
			<div class="col-md-12">
			</br></br></br>

			</div>
			<div class="row">
			<div class="col-md-12">
			</br></br></br>

			</div>
		</div>
		<div class="row">
		
			<div class="col-md-4"></div>

			<div class="col-md-4" class="panel panel-success panel-circle" style="background: rgba(110,90,52,0.2)">
			<div class="panel-body" style="height:250px">
				<form  role="form">
					<div class="form-group">

						<div class="input-group">
	   						<span class="input-group-addon">
	       						<i class="glyphicon glyphicon-user"></i>
	       					</span>
	   						<input type="text" class="form-control" name="user_name" id="email" placeholder="Enter Email" ng-model="name">
						</div>

					</div><br>
					
					<div class="form-group">
						<div class="input-group">

							<span class="input-group-addon">
		       						<i class="glyphicon glyphicon-lock"></i>
		       					</span>
							<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="password" ><br>
							
						</div>

					</div>
					<div>
					<span><a href="forgot_password">Forgot Password?</a></span></br><br>
					</div>

					<button type="button" style = "width:400px;" class="btn btn-danger" ng-click="rfunction()">
     					 <span class="glyphicon glyphicon-log-in"></span> login
    			    </button>
    			  
				</form>
			</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		
	</div>
	<fooer class="footer">
        <p>&copy; Company 2016</p>
    </footer>

 
<script type="text/javascript" src="static/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/lib/angular.js"></script>
<script type="text/javascript" src="static/js/response.js"></script>
</body>

</html>