<!DOCTYPE html>
<html lang="en" ng-app="rapp">
<head>
	<title></title>
	<meta charset = "utf-8">	
	<meta name="viewport" content="width=device-width ,initial-scale=1">
	<link rel="stylesheet" href="static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<!<link rel="stylesheet" type="text/css" href="/static/css/Homepage.css">
</head>
<body ng-controller="bcontroller">
	<nav class= "navbar navbar-inverse navbar-fixed-top" style="background-color: #12548A;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">vipul</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/login">Home</a></li>
				<li><a href="#">Help</a></li>
				<li class="pull-right"><a href="/logout">Logout</a>
			</ul>
			 <form class="form-inline pull-right">
    			<input class="form-control" type="text" placeholder="Search">
    		<button class="btn btn-outline-success" type="submit">Search</button>
  			</form>
		</div>
	</nav>
	
	<div>
		
		<div class="row">
			<div class="col-md-12">
			</br></br></br>

			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 rcol-md-offset-4 well form-group">
				<div class="col-md-6">
					<img src="{{pic_add}}" class="img-circle" height="200" width="150">
				</div>
				<div class="col-md-4">
					<p>scnasln</p>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="static/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/lib/angular.js"></script>
<script type="text/javascript" src="static/js/response.js"></script>
</body>
</html>