<!DOCTYPE html>
<html lang="en" ng-app="rapp">
<head>
	<title></title>
	<meta charset = "utf-8">	
	<meta name="viewport" content="width=device-width ,initial-scale=1">
	<link rel="stylesheet" href="static/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<!link rel="stylesheet" type="text/css" href="static/css/Homepage.css">
</head>
<body ng-controller="bcontroller" style="background-image:url(static/css/img/3.jpg)">
	<nav class= "navbar navbar-inverse navbar-fixed-top" style="background-color: ;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">vipul</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/login">Home</a></li>
				<li><a href="#">Help</a></li>
				<li class="pull-right"><a href="/logout">Logout</a>
			</ul>
			 <form class="form-inline pull-right">
    			<input class="form-control" type="text" placeholder="Search peple" ng-model="user">
    		<button type="button" name="search_btn" ng-click='Ufunction(user)' class="btn btn-default">
      			<span class="glyphicon glyphicon-search"></span> Search
            </button>
  			</form>
		</div>
	</nav>
	<div>
		<div class="row">
			<div class="col-md-12">
			</br></br></br>

			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="background: rgba(0,0,0,0.1)">
			
					<div class="col-md-5">
						<img src="{{add_of_pic}}" class="img-circle" height="150" width="150">
					</div>
					<div class="col-md-7">
						<h2>Name: {{user_name}}</h2>
					</div>
					<button type="button" style = "width:200px;" class="btn" ng-click="ng-click=invitation({{request_from}})">
     					 <span class="glyphicon glyphicon-heart"></span> Send Friend Request
    			    </button>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4 col-md-offset-4  form-group">

				<form role="form" ng-init='blog_data={{all_posts|tojson}}'>
					<!--<div>
						<textarea name="blog" id='blog' class="form-control" style="min-width: 50%" ng-model="blog" placeholder="What's in your mind"></textarea></br>
					</div>
					<div>
						<button  ng-click="bfunction()" class="btn btn-primary"><span class="glyphicon">submit</span></button
					</div>-->
					<div class="panel panel-success" style="background: rgba(0,0,0,0.1)">
						<div class="panel-body" style="height:396px;overflow-y: scroll">
								
							<div class="row" ng-repeat="item in blog_data">
								<div class="col-md-6">
									<p style="text-color:lightblue" >
										<img src="{{add_of_pic}}" class="img-circle" height="40" width="40">

										<span ng-bind='item.blog'></span><br>
										<span ng-bind='item.inserted_at | date : dd/MM/yyyy'></span>
								</div>
								<div class="col-md-6">
										
										 <button ng-click="like(item)" ng-disabled="isdisable"><span class="glyphicon glyphicon-thumbs-up"></span></button>
										
										 <span>{[item.likes]}</span>
									</p>
								</div>
							</div>
						</div>
					</div>
    			{[checkbox.value]}
				</form>
			</div>
		</div>	
	</div>
	<footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>
 

<script type="text/javascript" src="static/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/lib/angular.js"></script>
<script type="text/javascript" src="static/js/response.js"></script>
</body>
</html>